---
- name: Deploy ssh key for rundeck user
  hosts: "{{ group }}"
  become: yes

  vars:
    user_name: rundeck
    pubkey_path: ~/.ssh/id_rsa.pub

  tasks:
    - name: Ensure rundeck user exists
      user: 
        name: "{{ user_name }}"
        state: present
        create_home: yes

    - name: Ensure .ssh directory exists
      file:
        path: "/home/{{ user_name }}/.ssh"
        state: directory
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: '0700'

    - name: Add ssh public key to authorized_keys
      authorized_key:
        user: "{{ user_name }}"
        state: present
        key: "{{ lookup('file', pubkey_path) }}"
