---
- name: Apply SSHD PAM and authselect (all servers)
  hosts: all
  become: yes
  tasks:
    - name: Install required packages
      dnf:
        name:
          - realmd
          - sssd
          - sssd-tools
          - adcli
          - oddjob
          - oddjob-mkhomedir
          - authselect
        update_cache: yes
        state: present

    - name: Copy sshd_pam_fix.sh
      copy:
        src: sshd_pam_fix.sh
        dest: /tmp/sshd_pam_fix.sh
        mode: '0755'

    - name: Apply SSHD PAM changes
      command: /tmp/sshd_pam_fix.sh



- name: Apply sudoers on "{{ group }}" servers
  hosts:  "{{ group }}"
  become: yes
  tasks:
    - name: Copy sudoers_setup.sh
      copy:
        src: sudoers_setup.sh
        dest: /tmp/sudoers_setup.sh
        mode: '0755'

    - name: Apply DevOps sudoers
      command: "/tmp/sudoers_setup.sh {{ group }}"